.app_bar {
  width: 100%;
  height: var(--size-app-bar);
  position: absolute;
  top: var(--space-0);
  left: var(--space-0);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app_bar .title {
  padding-left: var(--space-4);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2-5);
  user-select: none;
  pointer-events: none;
  font-size: 0.8rem;
  transition: all 0.2s ease-in-out;
}

.app_bar .title.hidden {
  opacity: 0;
  pointer-events: none;
}

.app_bar .window_buttons {
  height: var(--size-app-bar);
  width: var(--size-window-actions);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.app_bar .window_buttons button {
  width: var(--size-app-bar);
  height: var(--size-app-bar);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.app_bar .window_buttons button svg {
  color: var(--color-text-muted);
  transition: all 0.2s ease-in-out;
  font-size: 0.75rem;
}

.app_bar .window_buttons button:hover {
  background-color: var(--color-overlay-hover);
}

.app_bar .window_buttons button:hover svg {
  color: var(--color-text-primary);
}

.app_bar .window_buttons button:last-child:hover {
  background-color: var(--color-danger-hover);
}
