.details_popup {
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%) scale(0.7);
  padding: 10px;
  padding-top: 20px;
  margin-bottom: 10px;
  background-color: var(--color-surface-popover);
  backdrop-filter: blur(20px);
  border-radius: 5px;
  border: 1px solid var(--color-border-default);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 0.1s ease-in-out,
    transform 0.1s ease-in-out,
    visibility 0s linear 0.1s;
}

.details_popup.visible {
  transform: translate(-50%, 0) scale(1);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition-delay: 0s;
}

.details_popup .title {
  background-color: var(--color-surface-popover);
  backdrop-filter: blur(50px);
  border-radius: 5px;
  border: 1px solid var(--color-border-default);
  padding: 5px;
  position: absolute;
  top: -10px;
  font-size: 0.8rem;
}

.details_popup .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.details_popup .content h3 {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color-text-secondary);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.details_popup .content h3 span {
  font-size: 0.7rem;
  font-weight: 400;
  color: var(--color-text-muted);
}
