.PathBar {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.PathBar button {
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.01);
    border: 1px solid rgba(255, 255, 255, 0.03);
    border-radius: 5px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.PathBar button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.PathBar button svg {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
}

.PathBar button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.PathBar button:disabled:hover {
    background-color: rgba(255, 255, 255, 0.01);
    border: 1px solid rgba(255, 255, 255, 0.03);
}

.PathBar .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
}

.PathBar .controls button:first-child {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.PathBar .controls button:last-child {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.PathBar input {
    width: 100%;
    height: 30px;
    padding: 6px 10px;
    background-color: rgba(255, 255, 255, 0.01);
    border: 1px solid rgba(255, 255, 255, 0.03);
    color: #fff;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
}

.PathBar input:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
