.loader {
  width: var(--size-spinner);
  height: var(--size-spinner);
  display: inline-block;
  position: relative;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: var(--size-spinner);
  height: var(--size-spinner);
  border-radius: 50%;
  border: var(--border-width-accent) solid var(--color-text-primary);
  position: absolute;
  left: var(--space-0);
  top: var(--space-0);
  animation: animloader 2s linear infinite;
}

.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}
